.card-img-wrap {
  background-color: #953737;
  border-top-left-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

button.save-button,
button.delete-button,
a.view-link {
  border-radius: 0;
}

a.view-link {
  border: 1px solid #222336;
}

a.view-link:hover,
a.view-link:focus,
a.view-link:active,
button.delete-button {
  color: white;
  background-color: #222336;
  border: 1px solid #222336;
}

button.delete-button:hover,
button.delete-button:focus,
button.delete-button:active {
  background-color: #454770;
  border: 1px solid #454770;
}

button.save-button {
  background-color: #953737;
  border: 1px solid #953737;
}

button.save-button:hover,
button.save-button:focus,
button.save-button:active {
  background-color: #521d1d;
  border: 1px solid #521d1d;
}
